pkgbase = leap-motion-sane
	pkgdesc = The Leap Motion Developer SDK - sane version that does not run as root
	pkgver = 2.3.1
	pkgrel = 8
	url = https://developer.leapmotion.com/downloads
	arch = i686
	arch = x86_64
	license = custom
	source = Leap_Motion_SDK_Linux_2.3.1.tgz.tgz::http://warehouse.leapmotion.com/apps/4185/download
	source = libleap.pc
	source = LICENSE
	source = leapd.service
	source = leap-motion-sane.desktop
	source = leap-motion-sane.png
	md5sums = d9facdfed290823d3a5358ca5077e883
	md5sums = c43a3a834f646efc8f033f75eb80cc7e
	md5sums = 78a4f0934b105397d1f7b17d06e4717c
	md5sums = fe1e7177b85d2093501efc25823d8b53
	md5sums = 0261f47c2d5090681446f6917b1858ba
	md5sums = 5b85d03f4109203c5f7ecd610a33136d

pkgname = leap-motion-driver
	install = leap-motion-sane-driver.install
	depends = mesa
	depends = libxxf86vm

pkgname = leap-motion-sdk
