[Unit]
Description=Leap Motion Service Daemon

[Service]
User=leapd
PIDFile=/var/run/leapd/leapd.pid
ExecStart=/usr/bin/leapd --metrics_enabled=0
KillSignal=SIGKILL
TimeoutStopSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
